@{
    Layout = "template";
    }
@model WebApp_MVC_D2.Models.Instructor

<table class="table table-bordered table-hover">
    <tr>
        <th>NAME</th>
        <th>IMAGE</th>
        <th>SALARY</th>
        <th>ADDRESS</th>
        <th>ACTIONS</th>
    </tr>
    <tr>
        <td>@Model.Name</td>
        <td><img class="w-25 h-25" src="@Model.Image" /></td>
        <td>@Model.Salary</td>
        <td>@Model.Address</td>
        <td class="w-25">
            <a class="btn btn-outline-primary w-25" href="/Instructor/Edit/@Model.Id">Edit</a>
            <a class="btn btn-outline-primary w-50" href="#" onclick="confirmDelete(@Model.Id)">Delete</a>
            <a class="btn btn-outline-primary w-50" href="/Instructor/index">All Instructors</a>
        </td>
    </tr>
</table>



